.page {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #282828;
    color: white;
}

/*Поведение элементов вложенных в пейдж: Когда поле активно, меняется состояние смайлика*/
.page:has(.game__field:active) .smile{
    background: url(../../images/smile-0.png) 0 0/contain no-repeat;
}
